@page "/email";
@using Domain;
@using CapApplication.Services;
@using Newtonsoft.Json;
@using System.Net.Http.Json;
@inject IToastService ToastService;
@inject IMailService _mailService;
@inject HttpClient _httpClient;


<h3>Send Email</h3>
<p>Please enter your email</p>
<div class="mb-3 mt-4 saleAssetText">
    <label for="Address" class="form-label">Email Address</label>
    <InputText type="text" class="form-control" @bind-Value="Mail.Address" />
</div>
<div class="col-lg-12 mt-2">
    <button type="button" class="button SASaveBtn label_font" @onclick="OnSubmitBtnClick">Send</button>
</div>
@if(IsMailSent)
{
    <br/><br/>
    <div class="mb-3 mt-4 saleAssetText">
        <label for="OTP" class="form-label">OTP</label>
        <InputText type="text" class="form-control" @bind-Value="Mail.OTPInfo.OTP" />
    </div>
    <div class="col-lg-12 mt-2">
        <button type="button" class="button SASaveBtn label_font" @onclick="OnValidateBtnClick">Validate</button>
    </div>
}

@code {
    public Mail Mail { get; set; } = new Mail();
    public bool IsMailSent { get; set; } = false;

    private async Task<string> OnSubmitBtnClick()
    {
        string email = Mail.Address;
        var response = await _httpClient.PostAsJsonAsync("WeatherForecast", email);
        if(response.IsSuccessStatusCode)
        {
            IsMailSent = true;
            ToastService.ShowSuccess("Email containing OTP has been sent successfully. Please check your mailbox for verification.");
            return "STATUS_EMAIL_OK: email containing OTP has been sent successfully.";
        }
        return "";
    }

    private async Task OnValidateBtnClick()
    {
        var response = await _httpClient.GetAsync("WeatherForecast/ValidateOTP/" + Mail.Address + Mail.OTPInfo.OTP);
        if (response.IsSuccessStatusCode)
        {
            ToastService.ShowSuccess("OTP is valid and checked");
        }
    }  
}
